<plugin id="cordova-plugin-ftptendam" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <name>FtpTendam</name>

    <js-module name="FtpTendam" src="www/FtpTendam.js">
        <clobbers target="FtpTendam" />
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="FtpTendam">
                <param name="android-package" value="cordova.plugin.ftptendam.FtpTendam" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/FtpTendam.java" target-dir="src/cordova/plugin/ftptendam/FtpTendam" />
        <lib-file src="src/android/libs/ftp4j-1.7.2.jar" />
    </platform>
    
</plugin>